[submodule "src/blue-wrapper"]
	path = src/blue-wrapper
	url = https://github.com/wengwz/blue-wrapper.git
[submodule "src/blue-ethernet"]
	path = src/blue-ethernet
	url = https://github.com/wengwz/blue-ethernet.git
